body {
  background-color: #f1f1f1;
}

.login-box {
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

.login-box h1 {
  float: left;
  font-size: 40px;
  border-bottom: 6px solid #4caf50;
  margin-bottom: 50px;
  padding: 13px 0;
}

.textbox {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #4caf50;
}

.textbox i {
  width: 26px;
  float: left;
  text-align: center;
}

.textbox input {
  border: none;
  outline: none;
  background: none;
  color: black;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}

.btn {
  width: 100%;
  background: #4caf50;
  color: white;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px;
  margin: 12px 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  margin-right: 20px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  margin-bottom: 40px;
}

.cta-button {
  background-color: #333;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  padding: 15px 30px;
  text-decoration: none;
}

.title {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 70px;
  color: #000;
  margin-bottom: 15px;
  margin-top: 15px;
  line-height: 30px;
  padding: 25px;
}

.form-label {
  font-weight: 600;
  font-size: 25px;
  color: #203140;
  margin-bottom: 8px;
  text-align: left;
}

.form-control {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.send-form-btn {
  margin: 10px auto;
  padding: 10px;
  background-color: green;
  color: white;
  font-size: 20px;
  border-radius: 20px;
  width: 20%;
}

footer {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  text-align: center;
}

footer p {
  margin: 0;
}
footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.social-media {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.social-media a {
  margin-left: 20px;
}

.social-media img {
  height: 40px;
  width: 40px;
}
